@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Black.eot");
  src: local("☺"), url("fonts/Montserrat-Black.woff") format("woff"),
    url("fonts/Montserrat-Black.ttf") format("truetype"),
    url("fonts/Montserrat-Black.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Bold.eot");
  src: local("☺"), url("fonts/Montserrat-Bold.woff") format("woff"),
    url("fonts/Montserrat-Bold.ttf") format("truetype"),
    url("fonts/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Regular.eot");
  src: local("☺"), url("fonts/Montserrat-Regular.woff") format("woff"),
    url("fonts/Montserrat-Regular.ttf") format("truetype"),
    url("fonts/Montserrat-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Light.eot");
  src: local("☺"), url("fonts/Montserrat-Light.woff") format("woff"),
    url("fonts/Montserrat-Light.ttf") format("truetype"),
    url("fonts/Montserrat-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
} /*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
::-moz-selection {
  background: #fff498;
}
::selection {
  background: #fff498;
}
::-moz-selection {
  background: #fff498;
}
img::-moz-selection {
  background: transparent;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  -webkit-tap-highlight-color: #fff498;
}
body {
  /* background-color: #0c0c0c; */
  /* background-image: url(../img/home_background.webp); */
  /* linear-gradient(to right, #021035, #FFBEB2, #11366B)  linear-gradient(to right, #90bbca, #d8ecf1, #90bbcc)*/
  /* linear-gradient(to right, #FBE7DA, #F1E8E9, #DBEBFA) */
  /* background: linear-gradient(to right, #fbe7da, #f1e8e9, #dbebfa); */
  font-size: 14px;
  line-height: 1.6;
  font-family: "Montserrat", sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* For Firefox */

  /* Hide scrollbar for Edge and IE */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.wrapper {
  /* background-image: url(../img/home_bk.png);
  background-size: auto; */
  /* filter: blur(0px); */
  /* -webkit-filter: blur(0px); */
  width: 100%;
  height: 100%;
  /* position: absolute; */
  /* background-size: cover;
  background-position: inherit;
  filter: brightness(70%); */
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* For Firefox */

  /* Hide scrollbar for Edge and IE */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.background-image {
  background-image: url(../img/home_bk.png);
  background-size: auto;
  /* filter: blur(0px); */
  /* -webkit-filter: blur(0px); */
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: inherit;
  filter: brightness(70%);
}

.container {
  position: absolute;
  width: 100%;
  background-color: #eff5f8;
  z-index: 9;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* For Firefox */

  /* Hide scrollbar for Edge and IE */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.container::-webkit-scrollbar {
  display: none;
}

.header {
  display: flex;
  padding: 0px 50px;
  background-color: #f6f6fb;
  /* border: 1px solid red; */
  align-items: center;
  height: 10vh;
}

.header-title {
  color: #000;
  text-transform: uppercase;
  flex-grow: 1;
  display: flex;
}

.title {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-title-main {
  font-size: 28px;
  font-size: "xx-large";
  font-weight: 700;
}

.header-title-second {
  font-size: 12px;
  font-weight: 600;
}

.linkedin-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.whatsapp-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 30px;
}

.contact-value {
  font-size: 18px;
  color: #1d497a;
}

.image-warpper {
  height: 70%;
  position: relative;
}

.image {
  width: 100%;
  height: 70vh;
}

.body-image-container {
  background-image: url(../img/background.webp);
  width: 100%;
  height: 100%; /* Set height to 100% of viewport height */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; /* Ensure the image covers the entire container */
}

.body-image-container img {
  width: 100%;
  height: 100%;
}

.image-content {
  position: absolute;
  top: 110px;
  left: 75px;
  right: 0;
}

.image-heading {
  width: 40%;
  font-size: 60px;
  color: #fff;
  font-weight: bold;
  line-height: normal;
}

.course-button-wrapper {
  width: 30%;
  margin-top: 50px;
  background: #eaf1fb;
  border-radius: 20px;
  text-align: center;
}

.contact-button {
  padding: 10px;
  color: #fff;
  background-color: #ff8065;
  height: 24px;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 20px;
  cursor: pointer;
}

.button-title {
  padding: 3px;
  font-size: 30px;
  font-weight: 500;
  color: #050607;
}

.content-body {
  /* margin-top: 20px; */
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* For Firefox */

  /* Hide scrollbar for Edge and IE */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.demo-button-wrapper {
  width: 30%;
  margin-top: 20px;
  background: #eaf1fb;
  border-radius: 20px;
  text-align: center;
}

.message-info {
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  background: #7492b3;
}

.main-content-row {
  background-color: #eff5f8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  height: 20vh;
}

.who-container,
.what-container,
.why-container {
  display: flex;
  gap: 20px;
  width: 33%;
  align-items: center;
  justify-content: center;
}

.heading-text {
  color: #124163;
  font-size: 24px;
  font-weight: 700;
}

.content-title-wrapper {
  margin: 0px 50px 50px 50px;
  width: 50%;
  height: 375px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.content-heading {
  color: #fff;
  margin-top: 10px;
  font-size: 68px;
  font-weight: 900;
  line-height: 1;
}

.home-content {
  width: 100%;
  font-size: 20px;
  color: #000;
  padding: 20px 10px;
}

.description-content {
  width: 100%;
  border-radius: 10px;
}

.content-row {
  display: flex;
  margin: 50px;
  margin-top: 7%;
  justify-content: space-around;
}

.content-value {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.content-description {
  color: #fff;
  font-size: 16px;
  margin-top: 30px;
  text-align: center;
}

.content-button {
  padding: 10px;
  color: #fff;
  border-radius: 20px;
  text-align: center;
  width: 40%;
  /* background-color: #ff8065; */
  font-size: 20px;
  font-weight: 600;
  background: linear-gradient(to right, #e78b8c, #6681ae, #44a5ff);
}

@media (max-width: 1000px) {
  .image-heading {
    font-size: 50px;
    width: 60%;
  }

  .course-button-wrapper,
  .demo-button-wrapper {
    width: 70%;
    margin-top: 30px;
  }

  .heading-text {
    font-size: 18px;
  }
}

@media (max-width: 800px) {

  .header-title-main {
    font-size: 25px;
  }

  .image-content {
    position: absolute;
    top: 18%;
    left: 30px;
  }

  .image-heading {
    font-size: 30px;
    width: 60%;
  }

  .course-button-wrapper,
  .demo-button-wrapper {
    width: 70%;
    margin-top: 30px;
  }

  .button-title {
    font-size: 16px;
  }

  .message-info {
    font-size: 14px;
    padding: 4px;
  }

  .main-content-row {
    display: flex;
    flex-direction: column;
    height: inherit;
  }

  .who-container,
  .what-container,
  .why-container {
    display: flex;
    flex-direction: column-reverse;
    width: 65%;
    gap: 0;
  }

  .who-container img {
    width: 60%;
  }

  .what-container img {
    width: 60%;
  }

  .why-container img {
    width: 60%;
  }
}

@media (max-width: 700px) {
  .header {
    padding: 0;
    flex-wrap: wrap;
  }

  .header img {
    width: 60px;
    height: 60px;
  }

  .header-title-main {
    font-size: 25px;
  }

  .linkedin-container,
  .whatsapp-container {
    display: none;
  }

  .image-content {
    position: absolute;
    top: 18%;
    left: 30px;
  }

  .image-heading {
    font-size: 30px;
    width: 90%;
  }

  .course-button-wrapper,
  .demo-button-wrapper {
    width: 70%;
    margin-top: 30px;
  }

  .button-title {
    font-size: 16px;
  }

  .message-info {
    font-size: 14px;
    padding: 4px;
  }

  .main-content-row {
    display: flex;
    flex-direction: column;
    height: inherit;
  }

  .who-container,
  .what-container,
  .why-container {
    display: flex;
    flex-direction: column-reverse;
    width: 65%;
    gap: 0;
  }

  .who-container img {
    width: 60%;
  }

  .what-container img {
    width: 60%;
  }

  .why-container img {
    width: 60%;
  }
}

/* @media (max-width: 1000px) {
  .image-heading {
    font-size: 40px;
  }

  .button-title {
    font-size: 22px;
  }
}

@media (max-width: 900px) {
  .image-heading {
    font-size: 40px;
  }
  .course-button-wrapper,
  .demo-button-wrapper {
    width: 40%;
  }

  .heading-text {
    font-size: 22px;
  }
}

@media (max-width: 800px) {
  .image-heading {
    font-size: 40px;
  }

  .course-button-wrapper,
  .demo-button-wrapper {
    width: 40%;
  }

  .image-heading {
    width: 60%;
  }
} */
